@font-face {
    font-family: "abold";
    src: url("font/Agdasima-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "areg";
    src: url("font/Agdasima-Regular.ttf") format("truetype");
}


* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    user-select: none;
}

html,
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.07);
    display: none;
}

#otheractiv {
    cursor: pointer;
}


.carRender {
    width: 90%;
    height: 20%;
    margin-left: 5%;
    margin-top: 5%;
}

.otherSetting {
    display: flex;
    width: 90%;
    height: 10%;
    margin-left: 5%;
    margin-top: 5%;
}

.otherText {
    width: 50%;
    color: #F80;
    font-family: areg;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.otherWhat {
    display: flex;
    justify-content: end;
    margin-right: 5%;
    width: 50%;
    color: #FFF;
    font-family: areg;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.otherWhat p {
    width: auto;
    height: 3%;
    opacity: 0.5;
}

.otherWhat p:hover {
    cursor: pointer;
    opacity: 1;
}



.header50 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25%;
}

.headers {
    display: flex;
    width: 50%;
}

.renderHead {
    color: #F80;
    font-family: abold;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: auto;
}

.renderHead2 {
    color: rgb(255, 255, 255);
    font-family: areg;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1%;
    width: auto;
}

.prog {
    display: flex;
    position: relative;
    width: 90%;
    height: 7%;
    margin-top: 3.5%;
    background: rgba(255, 255, 255, 0.04);
    cursor: pointer;
}

.progStatus {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #8D4B00 0%, #FE8801 100%);
    transition: width 0.4s ease;
    min-width: 0%;
    z-index: -1;
}

#lightColor .progStatus {
    width: 0;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    margin-left: 1%;
    cursor: pointer;
}


#raindr {
    height: 55%;
}

.reset svg {
    width: 100%;
    height: 100%;
}

.reset svg:hover {
    opacity: 0.3;
}

.progStatus2 {
    top: 0;
    margin-left: 0%;
    width: 2%;
    height: 200%;
    background:  #FE8801;
    transition: width 0.4s ease;
    min-width: 0%;
}

.yuzde {
    display: flex;
    justify-content: end;
    width: 10%;
    color: #FFF;
    font-family: areg;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 30%;
}

.fpsMenu {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 65%;
}

.topWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
}

.header {
    display: flex;
    flex-direction: column;
    width: 54%;
    height: 100%;
}

.smallRender {
    display: flex;
    align-items: center;
    width: 90%;
    height: 7%;
    margin-left: 5%;
}

.smallRender:not(:first-child) {
    margin-top: 2%;
}

.smallText {
    width: 50%;
    color: #F80;
    font-family: areg;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.smallStatus {
    display: flex;
    justify-content: end;
    width: 6%;
    margin-left: 35%;
    color: rgb(255, 255, 255);
    font-family: areg;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}



.topHead {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: end;
}

.headerComment {
    width: 100%;
    height: 40%;
    color: #fff;
    font-weight: 450;
    font-family: areg;
    font-size: 1.25vw;
    margin-left: 2.1%;
    opacity: 0.56;
}

.fpsHead {
    color: #F80;
    font-family: abold;
    font-size: 2.083vw;
    margin-left: 2%;
}

.fps2Head {
    color: rgb(255, 255, 255);
    font-family: abold;
    font-size: 2.083vw;
    margin-left: 1%;
}

.topRight {
    width: 46%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.fpsStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 70%;
    border-radius: 0.2vw;
    border: 1px solid rgba(255, 136, 0, 0.24);
    background: rgba(29, 36, 50, 0.80);
}

.topFps {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fpsText, .settingsText {
    color: #F80;
    font-family: abold;
    font-weight: 700;
    font-size: 1.667vw;
}

.fpsText {
    width: 50%;
    display: flex;
    justify-content: end;
}

.fpsValue {
    color: white;
    font-family: abold;
    font-size: 1.667vw;
    width: 50%;
    display: flex;
}

.settingsCom, .bottomFps {
    color: white;
    font-size: 0.833vw;
    font-family: areg;
    opacity: 0.2;
}

.settings {
    cursor: pointer;
}



.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 70%;
    border: 1px solid rgba(255, 136, 0, 0.24);
    background: rgba(29, 36, 50, 0.80);
    margin-right: 1%;
}

.userActions {
    display: flex;
    width: 100%;
    height: 67%;
}

.render,
.graphic,
.other {
    display: flex;
    flex-direction: column;
    width: 32.3%;
    height: 100%;
    margin-left: 1%;
    border-radius: 2.378px;
    border: 1px solid rgba(255, 136, 0, 0.24);
    background: rgba(29, 36, 50, 0.80);
    -webkit-backdrop-filter: blur(6px);
    z-index: 10;
}

.userHeadTop {
    width: 100%;
    height: 22%;
    background: url(assets/userHeader.png);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
}

.userHeader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-left: 5%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    height: 90%;
    border-radius: 4px;
    margin-top: 5%;
    background: rgb(255, 136, 0, 0.1);
}

.userHeader svg {
    width: 50.5%;
    height: 50.5%;
}


.userHeaderRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 83%;
    height: 47%;
    margin-left: 2%;
    
}

.userHeadBottom {
    width: 93%;
    height: 50%;
    display: flex;
    align-items: end;
    margin-left: 5%;
    color: #FFF;
    font-family: areg;
    font-size: 0.781vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.userHead {
    color: #F80;
    font-family: areg;
    font-size: 1.667vw;
    font-weight: 700;
    line-height: 59.375%;
    margin-top: 5.8%;
}

.userHeadCom {
    color: #FFF;
    font-family: areg;
    font-size: 1.667vw;
    font-style: normal;
    font-weight: 400;
    line-height: 59.375%;
}

.line {
    width: 90%;
    height: 0.5%;
    margin-top: 3%;
    margin-left: 5%;
    background: linear-gradient(90deg, rgba(255, 136, 0, 0.00) 0%, #F80 38.5%, #F80 67%, rgba(255, 136, 0, 0.00) 100%);
}

.adminActions {
    display: flex;
    width: 65.5%;
    height: 10%;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 2.378px;
    border: 1px solid rgba(255, 136, 0, 0.24);
    background: rgba(29, 36, 50, 0.80);
}

.adminTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-left: 1%;
}

.adminHead {
    color: #F80;
    font-family: abold;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -1%;
}

.adminCom {
    color: #FFF;
    font-family: areg;
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.adminRight {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-left: 1%;
}

.adminAction {
    width: 30%;
    color: #F80;
    font-family: areg;
    font-size: 1.042vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#admin {
    margin-left: 51%;
}


::-webkit-scrollbar {
    width: 0.3vw;
    background-color: #222222;
}
  
 
::-webkit-scrollbar-thumb {
    background: rgba(217, 217, 217, 0.55);

}

::-webkit-scrollbar-thumb:hover {
    background: rgba(217, 217, 217, 0.75);
}

